header {
    background-color: #999;
    padding: 40px 0;
}

.navs {
    display: flex;
    justify-content: space-between;
}

.navs ul {
    
}

.navs ul li {
    display: inline-block;
    margin-left: 16px;
}


