footer {
    background-color: #555;
    margin-top: 100%;
    flex: 1 0 auto;
    padding: 40px 30px;
}

header {
    background-color: #888;
    padding: 40px 0;
}

.navs {
    display: flex;
    justify-content: space-between;
}


.navs ul li {
    display: inline-block;
    margin-left: 16px;
}

